
@{
    ViewBag.Title = "NieZalogowany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ta opcja dostępna jedynie dla zalogowanych!</h2>

<p><a href="/User/LogIn">Zaloguj się</a>, lub jeśli jeszcze nie masz konta <a href="/User/Registry">Zarejestruj się</a>.</p>