
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr/>
<h2>Ustawienia</h2>
<hr/>
<br/><br/>
    <div style="font-size:20px;">
        Liczba ogłoszeń wyświetlanych na stronie: <strong>@ViewBag.LiczbaOgloszen</strong> <a href="/User/ZmianaWyswietlanieOgloszen">Zmień</a>
    </div>